[submodule "services/service-client"]
	path = services/service-client
	url = https://github.com/soulaimanfl/MSPR_CENTRAL_API.git
[submodule "services/service-produit"]
	path = services/service-produit
	url = https://github.com/soulaimanfl/MSPR_CENTRAL_API.git
[submodule "services/service-commande"]
	path = services/service-commande
	url = https://github.com/soulaimanfl/MSPR_CENTRAL_API.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/soulaimanfl/MSPR_CENTRAL_API.git
